name: CI Pipeline with ECR

on:
  push:
    branches: ["**"]

permissions:
  id-token: write  
  contents: read    # Leer c칩digo del repo

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1. Descargar c칩digo
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 1.1 Configurar PHP y Composer para an치lisis est치tico
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: composer

      # 2. Configurar AWS usando OIDC
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::711387135481:role/aw-bootcamp-ci-role
          aws-region: us-east-1
      
      # Test 1
      - name: Subir un artefacto con metadata a S3
        env:
          ARTIFACTS_BUCKET: ${{ secrets.S3_ARTIFACT_CI }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          echo "image_tag=${IMAGE_TAG}" > build-info.txt
          aws s3 cp build-info.txt s3://$ARTIFACTS_BUCKET/builds/$IMAGE_TAG/build-info.txt

      # Test 2
      - name: List artifact
        env:
          ARTIFACTS_BUCKET: ${{ secrets.S3_ARTIFACT_CI }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          aws s3 ls s3://$ARTIFACTS_BUCKET/builds/$IMAGE_TAG/
